<?xml version="1.0"?>

<launch>
<arg name="log_enabled" default="False" />
<arg name="log_folder" default="~/.flexbe_logs" />
<arg name="log_serialize" default="yaml" />
<arg name="log_level" default="INFO" />

<node name="behavior" pkg="flexbe_onboard" type="start_behavior" output="screen" respawn="true">
    <param name="~log_enabled" value="$(arg log_enabled)"/>
    <param name="~log_folder" value="$(arg log_folder)"/>
    <param name="~log_serialize" value="$(arg log_serialize)"/>
    <param name="~log_level" value="$(arg log_level)"/>
</node>

</launch>
