<?xml version="1.0"?>

<launch>

<arg name="port" default="9090" />
<arg name="ns" default="" />
<arg name="behaviors_package" default="flexbe_behaviors" />

<node name="behavior_mirror" pkg="flexbe_mirror" type="behavior_mirror_sm" output="screen" />

<node name="behavior_input" pkg="flexbe_input" type="behavior_input" output="screen" />

<node name="behavior_rosbridge" pkg="rosbridge_server" type="rosbridge_websocket" output="screen">
	<param name="port" value="$(arg port)"/>
</node>
<node name="behavior_rosapi" pkg="rosapi" type="rosapi_node" output="screen">
	<param name="namespace" value="$(arg ns)" />
</node>
<node name="behavior_flexbe" pkg="flexbe_widget" type="flexbe_app" output="screen"  />
<node name="behavior_launcher" pkg="flexbe_widget" type="be_launcher" output="screen" >
	<param name="behaviors_package" value="$(arg behaviors_package)"/>
</node>

</launch>
